.dialogs {
    display: flex;
}

.dialog {
    margin-right: 30px;
    border-right: 2px solid #cccccc;
    padding-right: 20px;
}

.userName {
    color: cornflowerblue;
    font-weight: bold;
}

.userName .active {
    color: green;
    font-weight: bold;
}