.leftmenu {
    margin-top: 30px;
    width: 300px;

}
.leftmenu ul li {
    list-style-type: none;
    padding:20px;

}

li.item {
    color: forestgreen;
    font-weight: bold;
}

.item a.active {
    background-color: aquamarine;
    color: darkgreen;
}

.item:hover {
    text-decoration: none;
}
